certifi==2018.1.18
chardet==3.0.4
dataclasses==0.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.2
django-clear-cache==0.3
django-environ==0.4.4
django-heroku==0.3.1
djongo==1.2.13
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
iso8601==0.1.12
promise==2.1
psycopg2==2.7.4
pymongo==3.6.0
pytz==2017.3
requests==2.20.0
Rx==1.6.0
singledispatch==3.4.0.3
six==1.11.0
sqlparse==0.2.4
static3==0.7.0
typing==3.6.2
urllib3==1.22
whitenoise==3.3.1
